<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project name="DataDrivenVirt" soapui-version="6.0.0" resourceRoot="${projectDir}" id="2e5ad73e-9a96-4b66-a698-b6f109ae2b95" activeEnvironment="Default environment" updated="2.2.0 2017-11-28T12:17:25Z" compositeProjectFormat="1.3" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2e5ad73e-9a96-4b66-a698-b6f109ae2b95fileName">data_driven_test_project</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>