<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="TestSuite 1" id="856c33c9-0c90-47d7-9f3c-84250993e4d1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="856c33c9-0c90-47d7-9f3c-84250993e4d1fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>